extends layout
block content
    if name
        h1 Hello #{name}
        form(action='hello',method='post')
            button(type='submit',action='hello') Back
    else
        form(action='hello',method='post')
            label Please Enter your name &#9;
                input(type='text', name='username')
                br
            button(type='submit') Submit
    form(action='/',method='get')
           button(type='submit') Main Page